<h1>Inicio</h1>
<!-- <user-search [users]="users"></user-search> -->

<div class="grid-page">
  <card title="Resumen" [data]="resume$" [haveHead]="false"></card>
  <card title="Top Users" [data]="topUsersPost" routerName="user"></card>
  <card title="Top Posts" [data]="topPosts" routerName="post"></card>
  <card title="Top Comments" [data]="topUsersComment" routerName="user"></card>
</div>

<mat-tab-group>
  <mat-tab label="Chart 1">
    <chart
      [chartType]="'bar'"
      [chartDataInfo]="chartDataInfo"
      (itemSelected)="onChartItemSelected($event)"
      [title]="chartDataInfo.title"
      [xAxisLabel]="chartDataInfo.xAxisLabel"
    >
    </chart>
  </mat-tab>
  <mat-tab label="Chart 2">
    <chart
      [chartType]="'pie'"
      [chartDataInfo]="chartDataInfo"
      (itemSelected)="onChartItemSelected($event)"
      [title]="chartDataInfo.title"
    >
    </chart>
  </mat-tab>
</mat-tab-group>
