mat-card {
  padding: 0.5rem;
  min-height: 170px;
}

mat-card-title {
  padding: 10px 0px 0px 10px;
  align-items: flex-start;
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header {
  font-weight: bold;
  background-color: #e0e0e0;
  margin-bottom: 4px;
}

.hover {
  cursor: pointer;
}
.hover:hover {
  background-color: #f5f5f5;
}
